[user]
	name = Yongjin Cho
	email = yongjin.cho@gmail.com
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
[color]
	ui = auto
[pull]
	ff = only
[pager]
	branch = false
	stash = false
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore
	ignorecase = false
